<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 생성</title>
    <link rel="stylesheet" href="project-register.css">
</head>
<body>
<div id="project-register-container">
    <h1>프로젝트 등록</h1>

    <form method="post" action="/project/register">
        <div>
            <label for="name">프로젝트 이름:</label>
            <input type="text" id="name" name="name" placeholder="프로젝트 이름" required>
        </div>

        <div>
            <label for="status">프로젝트 상태:</label>
            <select id="status" name="status" required>
                <option value="" disabled selected>상태를 선택하세요</option>
                <option value="do">진행중</option>
                <option value="done">완료</option>
                <option value="wait">대기</option>
            </select>
        </div>

        <div>
            <button type="submit">등록</button>
        </div>
    </form>

    <div>
        <p th:if="${param.error}" style="color: red;">프로젝트 생성에 실패했습니다. 다시 시도해 주세요.</p>
    </div>
</div>
</body>
</html>
