<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="task-detail.css">
    <title>업무 상세 페이지</title>
</head>
<body>

<form th:action="@{/task/{id}(id=${task.id})}" method="GET">
    <table>
        <tbody>
        <tr>
            <td>프로젝트번호:</td>
            <td><span th:text="${task.projectId}">1</span></td>
        </tr>
        <tr>
            <td>업무:</td>
            <td><span th:text="${task.title}">제목</span></td>
        </tr>
        <tr>
            <td>태그:</td>
            <td><span th:text="${task.tag}">태그</span></td>
        </tr>
        <tr>
            <td>업무담당:</td>
            <td><span th:text="${task.projectMemberId}">1</span></td>
        </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <span th:text="${task.description}">내용</span>
        </li>
    </ul>
    <button type="submit">뒤로가기</button>
</form>

<form th:action="@{/task/{id}/delete(id=${task.id})}" method="post">
    <button type="submit">업무 삭제</button>
</form>

</body>
</html>
